.wrapper {
  margin-top: 32px;
}

.wordChoice {
  margin-top: 32px;
  padding: 8px;
  font-size: 2.441em;
  border: 1px solid gray;
  border-radius: 8px;
  font-family: "Open Sans";
  font-weight: 200;
  box-sizing: border-box;
}

.wordChoice:focus {
  outline: 3px solid green;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.keyboard-button {
  background: green;
  border: none;
  padding: 8px;
  min-width: 48px;
  font-size: 2rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.keyboard-button:hover {
  background-color: black;
}

.keyboard-button:focus {
  outline: none;
}

.keyboard-button__guessed {
  background-color: maroon;
}

.hangman-image {
  width: 100%;
  max-width: 600px;
  margin-top: 32px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: green;
  color: white;
  padding: 8px;
}
